[2013-03-02 14:26] millermedeiros opened #1 "moar ideas!"
I saw this a few months ago but never actually used it: https://github.com/onehealth/preprocess

[2013-03-26 12:27] peduarte opened #2 "Using hyphens in inline attributes"
Hello,

I like to use hyphens for my CSS Classes, and I came across an issue with Bake where it does't allow hyphens in inline attributes.

This is how I am using it:

Include
``

Template
`<div class="{{class}}"></div>`

Is there a fix for this, or why it doesn't work with hyphens?

Thanks

[2013-03-26 18:38] #2 closed, assigned to nobody

[2013-04-12 02:45] 3px opened #3 "Consecutive includes error"
Hey Mattie, found an issue.

If there are consecutive includes that are after one another, like so -

[code]

the bake task fails at the first include with the following error:

[code]

Even with new line and tab character between them. If I put in a space character after the first include, it works fine. Just logging this one as it was an issue when using TidyHTML which removes white spaces and n

[2013-04-16 19:02] #3 closed, assigned to nobody

[2013-04-22 16:57] neoncrumpet opened #4 "Special characters in Inline Attributes"
Template does not compile when using inline attributes that contain special characters;

[code]

These won't compile.

[2013-04-25 12:54] hanno-jonlay opened #5 "Simple variable checks in includes"
Hey Mathias!

I felt bad about asking for extras in what is already a really handy little plugin (as well as liking the fact that it's nice and lean at the moment), but if you're looking to hear of potential enhancements, I have a couple!

A simple variable check was a biggie. We used to use PHP templates for prototypes that moved towards being fairly high-fidelity as they were iterated, so would

[2013-04-25 13:06] hanno-jonlay opened #6 "Absolute includes"
I guess this is more a personal preference, but it might be handy to be able to set include paths that were a bit more portable:

My terminology most likely sucks, but here's a quick stab! Maybe an include_base_path as a config option. I've been keeping all my source templates in a dir called 'partials'

[code]

And then that would allow you to do this:

[code]

Which would automatically take `/pa

[2013-04-30 09:56] #1 closed, assigned to nobody

[2013-04-30 09:58] #4 closed, assigned to nobody

[2013-05-07 09:42] #6 closed, assigned to nobody

[2013-05-14 10:20] roboshoes opened #7 "Consider indent"
In order to create prettier files grunt-bake should include the indent at which the bake line is written:

[code]

with and include like this

[code]

should create

[code]

instead of

[code]

[2013-06-11 10:15] roboshoes opened #8 "JSHint"
Currently JSHint won't run through. It also needs a watch task that hint's every file on save.

[2013-06-11 10:22] #7 closed, assigned to nobody

[2013-06-14 21:07] #5 closed, assigned to nobody

[2013-06-18 08:56] #8 closed, assigned to nobody

[2013-07-15 13:46] yannickschuchmann opened #9 "Loops"
First, nice work!

But as already mentioned in https://github.com/MathiasPaumgarten/grunt-bake/issues/2, loops would be fantastic :)

[2013-08-12 12:05] roboshoes opened #10 "Inline loops"
As discussed in #9 there are simples `_foreach` loops so far. However those loops require to use a external file. I find myself to run into situations where I want to loop over  a set of values but only bake a single line for each value. It seems cumbersome to create a seperate file for that.

For example:

[code]

with the _menu/line.html_ being:

[code]

There should be an inline version like so

[2013-08-21 11:50] benfrain opened #11 "Prevent Mustache replacements in Bake"
We are using Bake alongside our own mustache based templating system. We were having problems with Bake trying to replace mustache areas that we needed to replace ourselves afterwards.

It would be useful to have an option to disable the Bake template processing; currently we have added a fake function to do this at the top of the Gruntfile.js:

[code]

[2013-08-28 15:43] #11 closed, assigned to nobody

[2013-09-18 15:58] japboy opened #12 "Include limitation"
I've just found the limitation of including partial HTMLs.

HTML that includes the partial having around 300 lines will be chopped.

I hope this will be fixed soon.

Thanks.

[2013-09-18 16:40] danparker92 opened #13 "Recursive call to bake:build in watch"
Hey,

This is probably a problem my end as I have used bake on a previous project and it worked fine. I'm using the lates yo webapp generator and have added bake to my project. When i include 'bake:build' in the watch task and update an 'include' it calls 'bake:build' infinely, constantly refreshing the page as if the files changing over and over.

Sorry for the inconvenience but i love the tool a

[2013-09-18 17:06] #12 closed, assigned to nobody

[2013-09-19 08:24] #13 closed, assigned to nobody

[2013-09-19 08:38] #9 closed, assigned to nobody

[2013-10-10 13:43] leads opened #14 "Notes"
Hello, stumbled across this in my quest for a partials/includes grunt task and it works really well so far :)

I was wondering if there was a way to include a note(s) in the generated html page?
(Apologies if another Grunt task can/should do this)

Case: Working in a development team, if I came across index.htm I might just start editing that without knowing it had been generated by multiple files

[2013-10-10 13:43] #14 closed, assigned to nobody

[2013-10-11 20:57] imaginethepoet opened #15 "Thank you for your script!"
Not an issue just a praise - sadly we don't have that on here.

I just spent all afternoon writing all the connecting pieces. Your bake is the backbone of my AUTO JQUERY MOBILE:

I rewrote 90% -better instructions coming - essentially this is an all in one build jquery mobile app. You just type grunt setup-jqm and it grabs the latest (beta version of jqm) dependencies,extracts, builds, copies over

[2013-10-14 16:56] #15 closed, assigned to nobody

[2013-11-21 10:15] gorkamolero opened #16 "Idea"
Hey there! Great plugin, exactly what I was looking for for internationalizing Websites, plus finally some good HTML templating on Grunt!

Let me tell you one thing though: I lost 2 hours this morning thinking I must have done everything wrong, the JSON wasn't parsing properly and I would get a gigantic {{ SECTION.TITLE }} instead of my logo.

Turns out it was because of the spacing between the {{

[2013-11-22 00:52] #10 closed, assigned to nobody

[2013-11-22 08:24] #16 closed, assigned to nobody

[2013-11-22 11:50] gorkamolero opened #17 "Another idea..."
So you got an IF statement... How about an If/Else?

[2013-11-29 09:48] gostbuster opened #18 "Arguments to path.join must be strings"
Hi,

I have this following error, using your task :

I used this as configuration :

 files: {
                  // files go here, like so:
                  "templates/built/confirmation.html":"templates/confirmation.html",.
              }

unfortunately this doesn't work.

I had to write a little fix ;

bake.js - line 315

this.files.forEach( function( file ) {

[code]

What do you think ?

Typ

[2013-11-30 21:41] ffraval opened #19 "<!doctype html> or html Comments in <!--(bake-start)-->"
Hi,

thanks for your great plugin :)

Don't know if this is considered as an issue but i'm trying to use  html pattern inside the bake-start anchor.

when the &lt;!doctype html&gt; html is outside the bake anchor :

[code]

it generates :

[code]

when the &lt;!doctype html&gt is inside the bake anchor :

[code]

it generates :

[code]

The same happens with HTML comments like

[code]

thanks,

[2013-12-03 01:27] #19 closed, assigned to nobody

[2013-12-08 17:34] ffraval opened #20 "A possible feature"
Hi,

I'm using bake now for 2 weeks to build my html templates and it's really a great plugin.

I'm trying to figure out how can i do to have the possibility to generate my master html file and all its included html file, but not having to "bake" all my 300 html template. Only those that are concerned. It could be a great feature to bake the master file and its dependancies.

I'm looking to make a

[2013-12-09 17:39] #20 closed, assigned to nobody

[2014-01-19 06:59] ay13 opened #21 "Allow section to be defined inline"
Currently section is defined globally but it would make Bake super powerful if it can be defined inline. That would allow you to set most of the site content in the JSON file.

For example if your JSON is:

[code]

On your home page you can do:
``

And then in `content.html`

[code]

And your rendered output for home will be:

[code]

[2014-01-29 20:18] ffraval opened #22 "<!--(bake remove when="")-->"
HI,

i'm now using bake for a big site project and i'm very pleased with your plugin. I use it in a specific way that allow me to have real semantic html files as input (partial) and real semantic html files as output.

I've got component files that are included in module files that are included in layout files. Every files are semantic and can be viewed in a browser as real html files. I'm using

[2014-02-06 17:59] snorripall opened #24 "Pass in parts of options.content as inline values"
It would be useful to pass in object from the options.content as inline values.

If I pass this json in via the option.content ...

***myconfig.json***
[code]
... i can reference it in a _foreach loop.

**item.htm**

[code]
This is enough in most cases. But let's say you want to use a different set of data for the item.htm template there would need to be some way of passing in the object that shou

[2014-02-06 19:53] #21 closed, assigned to nobody

[2014-03-18 12:01] PaulHuizer opened #25 "Feature request: globbing files"
First of all .. thanx for the nice script. Love it. It works very well!!
If I may ask ... would it be possible to make it so that we can use wildcards and such in order to bake files in one blow for my whole project?
Thankx in advance for your reply ...

[2014-03-22 00:25] #17 closed, assigned to nobody

[2014-03-25 11:40] mikezx6r opened #26 "_if should not generates a blank line when false"
I've started using grunt-bake for generating POC code, and use directory comparison to verify the output or watch what has changed.

It would be nice if the _if statements didn't generate blank lines when false so that adding an _if doesn't cause all my files to have a minor change.

[2014-04-13 21:27] paintedbicycle opened #27 "Feature Requests: Multiple Sources, Pass Option from Gruntfile"
Hello,

I'm currently trying to make this work as a templating tool for basic websites and I'm running into a few places where an option or two would be very useful.

First, I'd love to be able to define more than one content section in the json file. For example:

[code]

or instead:

[code]

where in the second example, the index has access to the "index" section and every page has access to the

[2014-05-29 12:13] richardwestenra opened #30 "Feature Request: Unescape special characters in content"
I'm trying to include HTML and HTML entities in my content strings in a JSON file, but they're being escaped (e.g. < becomes &lt;). Is there a way to prevent this from happening, e.g. by using {{{ }}} to add unescaped content like Handlebars/Mustache?

[2014-05-29 16:50] #30 closed, assigned to nobody

[2014-06-28 19:50] #27 closed, assigned to nobody

[2014-08-26 14:28] millette opened #32 "_foreach on objects"
I have a json file to use in a _foreach:

[code]

I am trying to loop over those objects and show a div for each, using

[code]

and partials/activite.html.tpl is a simple

[code]

My Gruntfile.js has something like this for its bake task:

[code]

But I can't get it to work. I see how a simple case of an array holding strings work, but what about an array holding objects? What am I missing?

[2014-08-26 15:14] #32 closed, assigned to nobody

[2014-10-15 07:16] nicolasrenon opened #34 "How to automate the baking process?"
Hi!

I would like to automate the process in the Gruntfile in order to avoid any modification for every new page:

[code]

Any solution?

[2014-10-21 19:12] #25 closed, assigned to nobody

[2014-10-21 19:15] #18 closed, assigned to nobody

[2014-10-31 06:11] #34 closed, assigned to nobody

[2014-11-18 09:42] benfrain opened #36 "Ability to use the inline _render flag with JS and Sass/CSS?"
I've been using Grunt on a daily basis for a good year or so now so firstly, thanks for the great plugin.

I have now reached a point on a project where I would like to facilitate some simple switching of logic across HTML, CSS and JS files.

With grunt-bake, in HTML this is working well. I have this kind of thing in my Gruntfile:

[code]

And I switch the values as needed. That way includes like

[2014-11-21 12:33] shammar13 opened #37 "Nested ifs and for-loops"
I've been trying to do some templating that leads to nested if-statements or if-statements nested in for-loops. Is there any chance that nested statements like that can be added to the library?

[2015-02-04 16:34] petereberlecom opened #38 "bower injection support in docs"
to support bower injection in base.html you need to change index.html to base.html

line 5: index.html --> base.html

[code]

btw. love to bake with this :+1:

[2015-02-23 19:51] mreinhart opened #40 "use HTML inline"
Is it possible to use html when supplying inline content? For example  I think that it chokes on the span tags unless there is a way to escape them that I'm not aware of.

[2015-02-24 22:06] MathiasPaumgarten commented on #40
Hey there, thanks for the issue. The problem is the regex used to parse the files and look for bake anchor tags: https://github.com/MathiasPaumgarten/grunt-bake/blob/master/tasks/bake.js#L57

It won't work correctly because it doesn't allow any `>` inside the bake tag. This could and should be updated tho accept any character until it hits a `)-->` closing tag. I think this can be accomplished wit

[2015-03-15 09:15] Heydon commented on #37
Any movement on this? :-)

[2015-03-17 18:55] MathiasPaumgarten commented on #37
Sorry. Nothing yet. :disappointed:

PR welcome :wink:

[2015-03-17 19:18] Heydon commented on #37
Ha! Sorry, no time either. Great plugin all the same. Thanks!

[2015-04-15 09:05] domfee commented on #37
Hi @MathiasPaumgarten any news on this? Its a real sticking point for a project I'm working on.

[2015-04-15 19:27] MathiasPaumgarten commented on #37
@domfee, thanks for the interest, I try to make more room for __grunt-bake__ but as of right now I haven't gotten around to this. Sorry to disappoint.

[2015-04-15 19:28] MathiasPaumgarten commented on #37
However, you can use the `_if` statement and nest it, as long as it is not in the inline definition.

[2015-04-25 14:29] danilvalov opened #41 "Getting data on key from array"
Please, add support for getting data on key from array.

Example:

header.html:
[code]

content.json:
[code]

[2015-04-29 20:35] MathiasPaumgarten commented on #41
Hey there,

this has been requested a few times. It is definitely on my list. Thanks for using and the feedback.

[2015-05-08 15:03] shammar13 commented on #40
@MathiasPaumgarten Has there been any progress on this? It would be a really useful feature.

[2015-05-11 15:05] MathiasPaumgarten commented on #40
Hey there, sorry I haven't worked on grunt-bake in a while. Do you have any experience with RegEx in JS?

[2015-05-12 13:55] shammar13 commented on #40
I only have a small amount of RegEx experience in JS. But I am willing to help out if I can.

Maybe the fix is as simple as removing that constraint on not allowing any `>` inside the bake tag? That way the bake tag can accept anything.

[2015-05-12 13:56] mreinhart commented on #40
Unfortunately I'm not great with RegEx.

[2015-05-12 14:09] MathiasPaumgarten commented on #40
What one would need to do is make a regex that accepts everything until it hits a `-->`.
I'm pretty sure that is doable with look-aheads. But I can't do that off the pat.

[2015-05-12 15:08] shammar13 commented on #40
I think I found a fix.

I replaced the RegEx here: https://github.com/MathiasPaumgarten/grunt-bake/blob/master/tasks/bake.js#L57 with this:

[code]

I gave it a quick test, and it's basically allowing me to put HTML inline:
[code]

Or I can include the HTML markup in the JSON content file:
[code]

@mreinhart + @MathiasPaumgarten do you guys mind giving it a look over to see if it works for you guy

[2015-05-12 15:29] MathiasPaumgarten commented on #40
Hey @shammar13,

just saw your EDIT. I also added it. I'm willing to take your PR though. Your fix works. I'm still working it out that it works for inline bakes as well. such as:

[code]

[2015-05-12 15:41] MathiasPaumgarten commented on #40
Again here. I saw that you updated your repo, with the same update. I also added a little test to my repo and make sure it breaks nothing. I updated it on __npm__ to `0.3.13`. This should allow you to work with it in your projects for now.

I hope that by tonight I have a second push to fix my issue mentioned above as well.

Thanks for the contribution.

[2015-05-13 07:08] shammar13 commented on #40
@MathiasPaumgarten Thanks for being so quick to help resolve this :+1:

I'm deleting my fork and using this repo instead.

[2015-05-17 19:01] cj opened #42 "wrap includes?"
Is it possible to wrap includes?  Lets say you have something called layout.html:

[code]

Is it possible to do something like this?:

[code]

[2015-06-03 13:36] musdy opened #43 "Bake task regex?"
Is there a way to make bake work with a regex and maybe tell it to render into one directory?

Like this:

[code]

Thank you.

[2015-06-03 22:25] MathiasPaumgarten commented on #43
Hi there,

The resolving of the file paths is part of `grunt` itself, actually. Which is nice, because it allows a streamlined setup across all different plugins.

That being said, may I point you to an older closed issue #25. Grunt allows you to pass in an _files-definition-object_ instead of a key value pair. (Note that this object has to be in an array)
With the use of that object you can defin

[2015-06-03 22:29] MathiasPaumgarten commented on #22
As I am reviewing some older issues. This has been open for a long time and not approved upon. I think I will close this feature task until it comes up again. I haven't heard of another person needing it.

Thanks everyone! If anyone is still in need for this, I am more than willing to revisit this.

[2015-06-03 22:29] #22 closed

[2015-08-04 02:39] #43 closed

[2015-08-07 01:42] bgottlob opened #45 "Multiple JSON Content Files for Multiple HTML Files"
Is there any way to use multiple content JSON files with the bake task? I would like to have one JSON file per HTML file in my project if possible. I read issue #27 but I'm not sure if a solution for it has been implemented.

By the way, great job on this project!

[2015-08-10 02:24] bgottlob commented on #37
I'd like to be able to nest for loops for nested arrays in my JSON content file. Does anyone know how this might be implemented?

[2015-08-10 19:36] morkro commented on #41
Hey @MathiasPaumgarten,

how is your progress here? Is it possible to contribute?
I really would like to have this feature and if somehow possible, I could also start developing it.

What do you think? :grinning:

[2015-08-10 20:11] MathiasPaumgarten commented on #45
Hi there Brandon,

So if I understand your question correctly, you could use different bake tasks:

[code]

Alternativly you could merge mutilple JSON files into one, first and then use this one JSON file to bake all your files. That would be  better solution if you want to share certain variables across multiple.

This can't be done through __grunt-bake__ itself but I wrote a different task for s

[2015-08-10 20:14] MathiasPaumgarten commented on #42
Hi there,

sorry I just saw this. I'm really sorry for the super delayed response. Sadly there isn't a feature like that in there, but it also seems that you might be using something like [Jade](http://jade-lang.com/) which allows for features like that. __Jade__ pretty much includes everything __grunt-bake__ does and much more.

[2015-08-10 20:15] MathiasPaumgarten commented on #42
I think writing this `contents` feature, while very useful, is out of scope.

[2015-08-10 20:15] #42 closed

[2015-08-10 20:36] MathiasPaumgarten commented on #41
Hi @morkro,

thanks for the interest. I am always open to contribution. I know I haven't spent much time on it, but if you are willing to give it a go, that'd be amazing.

Should be fairly straight forward. I'd appreciate if you could keep my coding style up and write a few tests with your feature.

Let me know if you need anything from me.

[2015-08-10 20:36] #40 closed

[2015-08-10 20:38] MathiasPaumgarten commented on #24
Closing this in favor for a newer issue that discusses the same: #41

[2015-08-10 20:38] #24 closed

[2015-08-10 20:40] #38 closed

[2015-08-10 20:42] MathiasPaumgarten commented on #36
Hi. I'm trying to loop back to older tickets and see if they are still relevant. I think I will close this, as I have not spent any more time on this. Additionally, I am leaning more towards it being out of scope. I think there might be a use case for it, but it should most likely be built in a separate plugin.

[2015-08-10 20:42] #36 closed

[2015-08-10 21:25] morkro commented on #41
Hey @MathiasPaumgarten,

sounds great! Of course I'll keep your coding style up and add tests. Anything else I should take care of?

I will start to tackle this in the next days and keep you posted :v:

[2015-08-13 01:56] bgottlob commented on #45
Yes, you understood it correctly. It looks like this will do the trick for me, I'll try it out. Thanks!

[2015-08-13 01:56] #45 closed

[2015-08-19 09:53] musdy opened #46 "Conditional Logic in the templates"
Hello Mathias,

Do you consider adding if/else or any other conditional logic to bake? While using it, that is one of the things I find missing.

Thanks.

- M

[2015-08-19 15:06] morkro commented on #41
@MathiasPaumgarten: just want to keep you up to date. Had almost zero time the last couple of days, but will start on the coming weekend.

[2015-08-19 16:47] MathiasPaumgarten commented on #41
Sounds good. You know what they say: _"Fast is fine but accuracy is final. You must learn to be slow in a hurry"_

[2015-08-19 16:54] MathiasPaumgarten commented on #46
Hi @musdy

There is some sort of __if__ functionality in it as of right now. Described in the README right [here](https://github.com/MathiasPaumgarten/grunt-bake#if-statement)

Can you describe a scenario you'd like to see?

There is no else task so far. one would have to do a _if-not_

[code]

[2015-11-12 10:25] musdy commented on #46
Hey @MathiasPaumgarten ,

I am using Grunt bake in another project and realized that the thing that's missing is more logic on if:

<h1>Custom homepage text</h1>

Any way of doing something similar to this without polluting the bake file?

- M

[2015-11-16 05:49] MathiasPaumgarten commented on #46
Hi @musdy
thanks for the interest in __grunt-bake__. This is an interesting feature. I don't know how much time I have on my plate, but I try to squeeze it in, if I can find a nice clean way without breaking the API as it is. There might be a nice way in parsing the value within `_if="value"` where `value` represents a logic expression.

Let me get backs to you about this. And of course, feel free

[2015-11-18 14:36] AdrianoCahete opened #48 "Question about parsing array"
I think it's a question not an issue.

I have a json with this data:
[code]

In html i have
[code]

Which output:
[code]

But i want to output to determined spaces.  Like this:
[code]

Can i do it? How?

[2015-11-18 19:26] MathiasPaumgarten commented on #48
Hi there,

yep, there is a [`_foreach`](https://github.com/MathiasPaumgarten/grunt-bake#foreach-loop) loop built in:

[code]

This should do the trick. Hope that helps.

[2015-11-18 22:28] AdrianoCahete commented on #48
Works like a charm! Thank you! :)

[2015-11-18 22:28] #48 closed

[2015-11-19 20:41] MathiasPaumgarten commented on #46
Hey @musdy, I've added your feature request in version `0.3.16`. See this PR: #49

[2015-11-19 20:42] #46 closed

[2015-11-23 11:40] musdy commented on #46
Thanks a lot man. This is great!

[2015-12-07 16:26] david-zacharias opened #50 "_if issues with empty strings"
Hey Mathias,

it's me once again. I have an issue with the `_if` in combination with empty strings in data. When I have a inline section like

[code]
and `employee.quote` is an empty string (`""`), the section is still rendered. I tracked down the issue and would say its due to two things:

**1st:** `isFalse( value )` does not consider empty strings to be false. I would say it should. So I recomme

[2015-12-07 21:47] MathiasPaumgarten commented on #50
Those changes sound good to me. Care to create a PR? If not, I'll put it in.

[2015-12-07 22:10] david-zacharias commented on #50
Go ahead and put the changes in. There is already a PR with another idea I came up with today. Thanks!

[2015-12-08 01:47] MathiasPaumgarten commented on #50
Fixed that in #52

[2015-12-08 01:47] #50 closed

[2015-12-08 06:24] david-zacharias commented on #41
Just an idea - how about extending `resolveName` slightly that it does a search for array notations and resolves keys before finally looking up the value?

[code]

[2015-12-09 03:13] MathiasPaumgarten commented on #41
Actually, since it is using [`mout.object.get`](https://github.com/mout/mout/blob/v0.11.0/src/object/get.js#L11) it allows arrays, to a degree. The notation can not involve square brackets but if you write it with numbers and the dot notation it would work.

As an example:

[code]

Probably has to do with arrays being objects as well, except the key names are numbers.

Not fully sure how that solv

[2015-12-09 03:18] MathiasPaumgarten opened #53 "Contributors"
Hey, @PaulHuizer @david-zacharias

As you see I've added an [`contributors`](https://github.com/MathiasPaumgarten/grunt-bake/blob/master/package.json#L11) section into the `package.json`. I wasn't sure what you want in your fields as email address. Probably the same as your npm email, as it will link you that way, I think.

Let me know what you want there as an email address, if you do want to be

[2015-12-09 07:27] david-zacharias commented on #53
Hey and thanks! You can add my company email address zacharias@werk85.de

[2015-12-09 07:39] david-zacharias commented on #41
I think the behavior of `mout.object.get` and my addition together solve the request from @danilvalov and @morkro. Basically my addition rewrites the syntax *and* replaces variables used as keys the matching content from the json. `mout.object.get` then gets the data regardless of the keys type.

[2015-12-10 00:10] MathiasPaumgarten commented on #41
I'd be down for a PR. If the tests check out :smile:

@david-zacharias @morkro @danilvalov any takers?

[2015-12-10 14:06] david-zacharias opened #54 "Support for Meta-Information in foreach-loops"
Following problem: I want to create a [Bootstrap carousel](https://getbootstrap.com/javascript/#carousel). To make the carousel indicators work these need numeric ascending ids. Data for the carousel comes from a json file.

One solution could be to add the ids to the json, but that is unnecessary data-overhead (IMHO). So why not letting bake supply meta information about the loop like *current it

[2015-12-10 14:20] david-zacharias opened #55 "Resolve also right part in validateIf()"
`validateIf()` currently only resolves the left part of an if-condition into the corresponding value. Especially when the meta information for loops #54 (and more recursion support :yum:) make their way into bake, it could be nice to evaluate variable against variable.

As may expected, I have implemented support for this (unfortunalty this is in the same PR as #54, sorry @MathiasPaumgarten for th

[2015-12-10 14:48] david-zacharias commented on #41
I can implement the changes next week. I think with #57 there is enough for code review this week :wink:

[2015-12-10 16:49] morkro commented on #41
Great, thanks for doing this @david-zacharias! :clap:
Unfortunately I haven't time for any spare time coding since then.

[2015-12-11 19:57] MathiasPaumgarten commented on #53
I'm gonna close this for now. If you (@PaulHuizer) change your mind, comment and I'll gladly add you to the list.

[2015-12-11 19:57] #53 closed

[2015-12-15 19:21] MathiasPaumgarten commented on #55
I have merged that in as well with you last PR.

[2015-12-15 19:21] #55 closed

[2015-12-15 19:21] MathiasPaumgarten commented on #54
Thanks to you that is now part of it as well.

[2015-12-15 19:21] #54 closed

[2015-12-15 19:24] MathiasPaumgarten commented on #37
Thanks to a big push of @david-zacharias, nested loops and nested ifs are not possible!

version `1.0.0`

[2015-12-15 19:24] #37 closed

[2015-12-15 19:24] MathiasPaumgarten commented on #26
After about 2 years. This should be resolved, thanks to @david-zacharias. Version `1.0.0`

[2015-12-15 19:24] #26 closed

[2015-12-15 19:28] MathiasPaumgarten commented on #41
I just merged a huge PR from @david-zacharias that propelled __grunt-bake__ forward quite a bit. If you guys would like to add this suggested fix from @david-zacharias as well, I'd gladly take in another PR. I'd copy it myself, but since it's David's code, I'd like for him to write a PR so he can collect the Github Karma, and shows up correctly in contributions :smile:

Because you know, respect w

[2015-12-15 19:49] Heydon commented on #37
This is awesome news! Well done. To the Twitters>>>>

[2015-12-15 19:53] Heydon commented on #37
https://twitter.com/heydonworks/status/676852175247679488

[2015-12-16 11:52] david-zacharias commented on #41
Hi all! I will create a PR today as I am going to fix another thing as well: The unwanted removal of `0` in `resolveNames()` as mentioned in #54.

[2015-12-16 18:45] MathiasPaumgarten commented on #41
@danilvalov good news. Thanks to @david-zacharias (again!) your wish has been heard. :clap:

[2015-12-16 18:45] #41 closed

[2015-12-21 12:16] danilvalov commented on #41
@MathiasPaumgarten It's really cool! I'm waiting for this! Thank you so much!

[2016-01-05 15:32] david-zacharias opened #59 "Content of inline-foreach is baked into output when array is empty"
Data source:
[code]

Template:
[code]

Expected result:
[code]

Current result:
[code]

I will take care of fixing this :bowtie:

[2016-01-05 15:44] #59 closed

[2016-01-05 17:31] greenie2600 opened #60 "Readme mentions =! operator, but it's actually !="
See title. Just a typo.

[2016-01-05 18:03] MathiasPaumgarten commented on #59
:boom: and published to npm as `1.1.1`

Now: :tropical_drink:

[2016-01-05 18:05] #60 closed

[2016-01-05 18:05] MathiasPaumgarten commented on #60
Thank you for the heads up! :two_men_holding_hands:

[2016-01-12 11:45] hudochenkov opened #61 "Add changelog"
Please, start to write changelog.

[2016-01-12 11:55] hudochenkov opened #62 "Option to disable transforms"
Hi! I have this code in templates:

[code]

grunt-bake@0.3.18 and 1.1.1 output:

[code]

But I need this code untouched because it's using in futher tools. I using grunt-bake@0.3.12 and everything fine.

Is there any way to prevent code removing for this case?

[2016-01-12 12:06] david-zacharias commented on #62
I am confident that we will find a solution for your issue. One quick hotfix could be to set `options.transformGutter` to a sequence that is definitely not in your code.

Can you please supply what output you expect, hence how did grunt-bake@0.3.12 bake your code.

[2016-01-12 12:10] hudochenkov commented on #62
grunt-bake@0.3.12 output:

[code]

[2016-01-12 12:19] david-zacharias commented on #62
Okay, so you do not want to process the variables at all? Then try setting `process-option` to `false`:

[code]

[2016-01-12 12:25] hudochenkov commented on #62
But at the same time I need to process this `template.html`:

[code]

`_footer.html`:

[code]

Expected output:

`template.html`

[code]

Will this be processed if I set `process: false`?

[2016-01-12 12:30] david-zacharias commented on #62
No it won't, because setting `options.process` to false disables the processing (parsing of template variables) completely. Have you tried the hotfix I suggested? Setting transformGutter to unused sequence like:

[code]

[2016-01-12 13:55] hudochenkov commented on #62
Tried on the last version — doesn't work. Input/output as in first message. But with this option grunt doesn't show this error in console:

[code]

[2016-01-12 13:58] hudochenkov commented on #62
I think in 0.3.12 if plugin haven't found, for example, `{{var customer_name}}` variable defined it leave the code as is. But in next versions it's just delete code if variable is not found..

[2016-01-12 15:03] david-zacharias commented on #62
The problems here are not the transforms. Bake removes unknown placeholder since version 0.3.18. I have added an option `options.removeUndefined` that controls this behavior. You can use the current master (`git install git+https://github.com/MathiasPaumgarten/grunt-bake.git`) for your project till @MathiasPaumgarten checked the changes and bumped a new version.

@MathiasPaumgarten, make the final

[2016-01-12 15:17] hudochenkov commented on #62
@david-zacharias Thank you! This was very fast :)

[2016-01-12 15:29] david-zacharias opened #63 "Parsing fails when inline section contains symbols only"
Regular expression in bake does not detect inline sections like:

[code]

Workaround is to add some characters like:

[code]

[2016-01-12 23:19] MathiasPaumgarten commented on #62
Hey guys, just caught up to this. You guys have detected the "issue" that grunt used to leave unrecognized variables as is. We change that behavior int `1.0.0`. Since we had a major bump, I thought it was cool to alter behavior, following [semver rules](http://semver.org/).

For future reference, another hotfix would have been to change the parsing pattern for the variables you want parsed, versus

[2016-01-12 23:29] MathiasPaumgarten commented on #62
I pushed the new version, that @hudochenkov has been using off the master branch to npm under `1.2.0`. That way you can reference to npm instead of Github. (which Github probably prefers :smile:)

:ship:

[2016-01-12 23:29] #62 closed

[2016-01-12 23:58] MathiasPaumgarten commented on #63
Nice catch. I'll take a look.

[2016-01-12 23:58] MathiasPaumgarten commented on #61
Good point. Going forward I shall keep a change log in the README.

[2016-01-13 00:16] #63 closed

[2016-01-13 00:17] MathiasPaumgarten commented on #63
I had a a `|` in the regex, by which I meant `or` but it took it literally. Removed that, as it isn't necessary within the `[ ]` group.

[2016-01-13 00:17] MathiasPaumgarten commented on #63
New version `1.2.1` fixes that.

[2016-01-13 08:00] hudochenkov commented on #62
Thank you very much! :)

[2016-01-13 08:51] david-zacharias commented on #63
Have tested version `1.2.1` in the project where I stumbled upon the issue and can approve that your fix works :+1: Thanks!

[2016-01-13 15:27] MichelGratton opened #64 "Usage of variable in filename"
I guy's,

In version 0.3.16, I was using code like this:
`<\!--(bake /sources/pages/static-sample-contents/{{tab.content}}.html)-->`

Yesterday, I update to the latest version of bake to have access to all new properties and fix. But my bake include doesn't work anymore because it bake doesn't parse the file name before testing if the file exists.
Error is ; Warning: Unable to read "sources/pages/

[2016-01-13 15:34] david-zacharias commented on #64
Hm, did not know that bake processed variables in include names. But it should not be that difficult to add support for this.

Can you please provide a complete code example of your template?

[2016-01-13 15:51] MichelGratton commented on #64
Just edited my post

[2016-01-13 16:15] MichelGratton commented on #64
With more details information:

JSON content:
`{
	"tabs": [
		{
			"id": "sample-tab-content1",
			"title": "Tab title 1",
			"content": "tabs-component-content-1"
		},
		{
			"id": "sample-tab-content2",
			"title": "Tab title 2",
			"content": "tabs-component-content-2"
		},
		{
			"id": "sample-tab-content3",
			"title": "Tab title 3",
			"content": "tabs-component-content-3"
		},
		{
			"id":

[2016-01-13 17:56] david-zacharias opened #65 "Lint error caused by regex"
The main regex for parsing bake tags causes following jshint error:

[code]

I think we can change the `[^]` part to `[\s\S]` which also covers *everything*, but does not cause a linting error. Tests run green with that change. I will leave final decision to you, @MathiasPaumgarten.

[2016-01-13 18:06] david-zacharias commented on #64
Thanks for the code example. I have added support for placeholders within include paths to the master branch.

@MichelGratton please check if this code works for you by using the current master (`npm install git+https://github.com/MathiasPaumgarten/grunt-bake.git`).

@MathiasPaumgarten The honor of bumping the version and starting a changelog belongs to you :wink:

[2016-01-13 18:09] MathiasPaumgarten commented on #65
Absolutely. This is much nicer, and way less cryptic.

[2016-01-13 18:17] MichelGratton commented on #64
Thank you very much, I will try this right away :)

[2016-01-13 18:23] MathiasPaumgarten commented on #64
Hey guys. I'm also surprised that it did work before. I never really anticipated for it. It must be because of how `grunt-bake` used to parse inline and external bakes. Thanks to a long needed refactor, this accidental side effect (bug, I might say) was closed.

However, it's now officially supported thanks to @david-zacharias. I'm in the process of reviewing and merging. I'll post another update

[2016-01-13 18:32] #65 closed

[2016-01-13 18:35] MathiasPaumgarten commented on #64
Alright guys. This is now a supported feature. File paths are parsed as well.
@MichelGratton you can update to `1.3.0` and it will include that feature. Excited to see `grunt-bake` thrive under the careful attention of @david-zacharias. :cool: :high_brightness:

[2016-01-13 18:36] #64 closed

[2016-01-13 18:39] MathiasPaumgarten commented on #61
I'll added one with the most recent feature. It would require a lot of digging through the past to make a changelog for everything. But I'll keep it up.

[2016-01-13 18:39] #61 closed

[2016-01-13 18:42] MichelGratton commented on #64
Works fine :) Very happy.

[2016-01-13 18:44] hudochenkov commented on #61
Thank you!

[2016-01-13 19:08] david-zacharias commented on #64
I am very pleased to hear that :+1:  Thanks @MathiasPaumgarten for bringing the changes live so quickly!

[2016-01-14 17:02] david-zacharias opened #66 "Error on empty bake-tag"
Stumbled upon this today, nothing major but should be fixed sometime.

**Template**
[code]

**Error reported in shell**
[code]

[2016-01-20 03:07] k-funk commented on #64
Updated to 1.3.0 from 0.3.18 and had the OP's error, though my example is a little more complex.
`Warning: Unable to read "../includes/{{book1.filename}}" file (Error code: ENOENT). Use --force to continue.`

**pages/book_page_1.html**

**includes/book_sidebar.html**

**content.json**

    {
        "book1": {
            "img": "../includes/book_sidebar_partial.html"
        },
    }

[2016-01-20 08:56] david-zacharias opened #67 "Resolve placeholders within inline-vars"
As pointed out by @k-funk in #64, bake does not process placeholders within inline values since 1.x.

Copy of report from k-funk:
----

Updated to 1.3.0 from 0.3.18 and had the OP's error, though my example is a little more complex.
`Warning: Unable to read "../partials/{{book1.partialPath}}" file (Error code: ENOENT). Use --force to continue.`

**pages/book_page_1.html**

**includes/book_sidebar.

[2016-01-20 08:58] david-zacharias commented on #64
Hi @k-funk, thanks for your feedback!

The resulting errors are similar to previous reported problem, but the issue here is that inline values are not processed by `defaultProcess`, so placeholders are not resolved. In bake 0.3.x also bake code was (unintentionally) processed.

I have moved your report into a new issue #67.

[2016-01-20 10:40] david-zacharias commented on #67
**Update**
It is true that bake does not process placeholders in inline values, but when these are afterwards used within the content like `<li>{{bookPartial}}</li>` the later parsing of the sub-section resolves the placeholder, so this behavior was not noticed. If the inline-var is used within a subsequent bake-tag e.g. `` bake fails because these are not resolved.

[2016-01-20 10:56] david-zacharias commented on #67
I have merged your test case and added support for resolving placeholders within inline-vars to the master branch.

@k-funk please check if this code works for you by using the current master (`npm install git+https://github.com/MathiasPaumgarten/grunt-bake.git`). Please note that I changed the path in `include-three.html` because paths are relative to the templates location, hence `include/` was

[2016-01-20 23:15] k-funk commented on #67
Fixed for me. Thanks @david-zacharias! Looking forward to the 1.3.1.

[2016-01-20 23:21] MathiasPaumgarten commented on #67
Hey guys, as always, David has fixed everything before I even had a chance to look at it. Clean fix as always. Gonna bump and push now.

[2016-01-20 23:31] MathiasPaumgarten commented on #67
Pushed @david-zacharias's feature to npm: `1.3.1`

Thanks guys, high fives all around. (Mostly between you two) :hand:

[2016-01-20 23:31] #67 closed

[2016-01-26 15:37] david-zacharias opened #69 "Support for complex if-conditions"
Hey!

For some situations it would be handy to use more complex if-conditions like:

[code]
or even:

[code]

I thought about how to integrate support for this into grunt-bake. In my opinion this is a useful case for `eval`. Since this is where opinions differ (saying eval is evil, B.A.D, etc.) I would like to discuss first.

My current idea is to change the `validateIf` to:

[code]

I do the pref

[2016-01-27 20:46] MathiasPaumgarten commented on #69
Hey there. The implementation is clean, for sure. And I like the idea. I was just trying to think of a somewhat clean way that allows us to not use `eval()`.
Don't get me wrong, I'm with you on the reasoning as well. This is code that gets executed locally, and it only gets fed what you write yourself, so there isn't many safer circumstances than those.

I'm pretty sure I could be persuaded to add

[2016-01-28 11:13] david-zacharias commented on #69
I am totally with you regarding the `eval()`, I also thought about ways to omit it.  But finally came to conclusion that it would be code to write (also kind of redundant because it implements behavior already existing in javascript) or conditions will be limited in complexity and support for operators.

I will come up with a full implementation (compatible with current bake, including **semantic-

[2016-01-31 02:50] #69 closed

[2016-02-03 11:44] david-zacharias opened #72 "_if fails when placeholders reference object attributes"
The *escaping* mechanism in the new `validateIf`-implementation fails when placeholder references object attributes. like:

[code]

I will take care of fixing this.

[2016-02-03 11:57] david-zacharias commented on #72
@MathiasPaumgarten I have pushed the fix directly into the master as it only affects two lines. Commit is referenced. Can you please bump the version so it becomes available via npm?

[2016-02-03 17:37] MathiasPaumgarten commented on #72
Oh man. Thanks. Weird that no test caught that :/

[2016-02-03 17:37] #72 closed

[2016-02-03 17:44] MathiasPaumgarten commented on #72
:ship:  `v1.4.1`

[2016-02-03 18:27] david-zacharias commented on #72
True, true, I was also surprised. Now we have a test in place. Thanks for the instant release.

[2016-02-07 07:36] alihaddadkar opened #73 "Unable to process task"
Hi, Thanks for this great plugin.
I want use this plugin but i can't. When run gruntfile.js i get an error.
Please help me.
_____________________________________________

Verifying property bake.build exists in config...ERROR

Warning: Required config property "bake.build" missing. Use --force to continue.

[2016-02-07 09:38] david-zacharias commented on #73
Hi and thank you for using grunt-bake!

The error you described is likely to be caused by a wrong configuration in your `Gruntfile.js`. Please verify that you have loaded grunt-bake `grunt.loadNpmTasks( "grunt-bake" );` and that you have set up the `grunt`-section with task `build`, as written in the [readme](https://github.com/MathiasPaumgarten/grunt-bake/blob/master/README.md):

[code]

[2016-02-07 11:27] alihaddadkar commented on #73
Thank. My problem was resolved.

[2016-02-07 11:27] #73 closed

[2016-02-08 15:25] david-zacharias opened #74 "Add variable for linking to originating file when using _bake-attribute"
As a little addition I would like to inject a variable `@referrer` to be able to link from dynamically generated files back to the originating file. This is handy when one uses `_bake`-attributes with same *detail-template* in multiple files (e.g. `detail-member.html` used in `index.html` and `team.html`, so return link is in one case `index.html` in the other `team.html`).

[2016-02-08 15:28] david-zacharias commented on #74
@MathiasPaumgarten As this was a minor change in a *submodule* I have added it directly to master.

[2016-02-09 17:40] MathiasPaumgarten commented on #74
Just pushed this to `1.5.1`. Looking through #71 now.

[2016-02-09 17:40] #74 closed

[2016-02-10 14:06] david-zacharias opened #75 "Integration of default transforms"
This is an issue for discussion ideas of how default transforms can be integrated into grut-bake.

#### Thoughts from PR #71

Written by @david-zacharias

Written by @MathiasPaumgarten

[2016-02-10 15:04] david-zacharias commented on #75
I think a separate package is better because if someone does not need transforms he does not need to install the dependency.

Just asked myself what users want to do, maybe:
- Using all transforms (will be default case)
- Renaming / Aliasing a default transform
- Excluding / Restricting a default transform
- Still being able to add new transforms
- ...

First shot for a usage syntax where I assume

[2016-02-15 04:11] russellr86 opened #77 "Pass arrays/objects as inline attributes"
Is it possible to pass objects/arrays to partials inline?

For example:

` `

I'm trying to build hot-swappable components with configurable options without having to rely on a `content.json`

[2016-02-15 08:56] david-zacharias commented on #77
Hi @russellr86, thank you for your feedback. Currently is only possible to hand in arrays into `_foreach`-tags. Also the notation differs slightly from your code:

[code]

But it is an idea to move the array-parsing from the `_foreach` handler to a common behavior so we could apply it to inline-assignments in general.

[2016-02-15 09:03] russellr86 commented on #77
Thanks for the reply, David.  Yeah I was easily able to get it working in a _foreach, however this restricts me from being able to keep my templates and components separate and flexible.  In my templates, I simply want to reference the components I want to render.  And I want to do this throughout an entire application without having to rely on JSON files for passing simple configuration values.

[2016-02-15 10:04] david-zacharias commented on #77
Yes, I see the benefits of this. As it won't limit existing usage, I am sure @MathiasPaumgarten have nothing against changing / extending the behavior of bake. If you want you can create a PR if changes are urgent. Otherwise I will add it to my list. I will probably find time within the next 7 days to make the change.

[2016-02-15 19:51] russellr86 commented on #77
Thanks David, nothing urgent.  By the way this tool has been a life saver so far, thanks so much.

[2016-02-16 21:57] MathiasPaumgarten commented on #77
Interesting. Do I understand this correctly, that you want to pass the array to the partial as it is, and NOT loop over the array, correct?

We would have to workshop the syntax a bit. Because the way you wrote, we would essentially just pass the string `['http://www.google.com', 'http://www.github.com', '#anchor-2']` which is perfectly legal.

So in other words, there should be some sort of logic

[2016-02-16 22:17] david-zacharias commented on #77
Funny, I was just thinking about this enhancement and making some tests. One already existing solution is to make use of `transforms` in the sub-template to break things down:

**usage.html**
[code]
**component.html**
[code]
**options in Gruntfile.js**
[code]

This solution works without any changes in bake :+1: You can try it out @russellr86

However, I like the idea to make the array parsing of

[2016-02-16 23:09] russellr86 commented on #77
@MathiasPaumgarten, yeah pretty much, it would just allow you to pass an array, and then do something like a `_foreach` in the view to loop through the items in the array passed.  Or referencing with the index would be nice too if that is an option.

@david-zacharias I'll try that out, thanks

[2016-02-18 01:08] MathiasPaumgarten commented on #77
Yeah, not opposed to it. However we have to figure out how the syntax differs from sending a string of an array. or an object. Probably drop the `"` around it. That might open another can of worms though.

Anybody dare to form a PR? :smiling_imp:

[2016-02-18 14:46] david-zacharias commented on #77
You are right, that change affects more parts of the code as I expected. I have a running version, that keeps all tests green and adds the new features. But the code is not as clean as I want it to be. So I have to think about it for some more time. As I have not much time for code right know it will take some time. To answer your question, I can take care of the PR, but it will take time.

[2016-02-23 20:15] k-funk opened #80 "Can't access properties in _section"
I expected this to already be working, since I can access object properties in an _if (`_if="book.title == 'The Dark Tower'"`), but it appears to not work on _section.

I've created a pull request with only a unit test: https://github.com/MathiasPaumgarten/grunt-bake/pull/79

[2016-02-26 14:24] MathiasPaumgarten commented on #80
This has been taken care of in #79 and 26566f1f8acf569923594526c5d40915bfc84cc9

[2016-02-26 14:24] #80 closed

[2016-03-12 01:12] k-funk opened #81 "bake-escape feature request"
Have you guys given any thought to escaping characters?

**My use case:**
I `bake` in code samples from various languages that have left angle brackets, and occasionally in java double curly braces. There's two problems that happen:

1. left/right angle brackets gets interpreted as html by the browser
2. bake leaves `undefined` wherever `{{ }}` is found

I'd like to see some feature like:
[code]

[2016-03-14 08:17] david-zacharias commented on #81
Hey and sorry for the late response.

I have not thought about escaping yet, maybe @MathiasPaumgarten. Recently we introduced the option `removeUndefined`. When set to `false` placeholders which could not be resolved (e.g. no matching variable found in `content`) stay untouchend in the output code. As far as I know, with current bake version you should not get `undefined` in the output, depending

[2016-03-14 18:43] k-funk commented on #81
Included a test with what I'd like to see.
You'll notice when you run the test that

1. `<Integer>` isn't escaped (browser will think it's html)
2. The multi-line `{{ \n ... \n }}` is getting interpolated, and leaving behind `undefined`.

[2016-03-14 19:07] MathiasPaumgarten commented on #81
Hey guys,
I see your point @k-funk. Maybe a first quick solution to work around the double braces would be setting the `options.parsePattern` to something else like `/\{\%\s?([\.\-\w]*)\s?\%\}/g` which would change the parser to look for variables like this:

[code]

Obviously you can change the pattern to what ever you think looks pretty in code.
I do find it a temporary solution. I think escapin

[2016-03-14 20:06] k-funk commented on #81
This would probably have to deviate from the current implementation since the comment ` would also be turned into html entities, and not function the same way, basically making any usage of `bake-escape`/`_escaped="true"` be a leaf node.

[2016-03-14 20:08] k-funk commented on #81
[htmlencode](https://www.npmjs.com/package/htmlencode) may be useful for the encoding.

[2016-03-30 15:46] webnet2 opened #83 "JSON file or CSV convert to multiple HTML files"
Can someone please show me how to generate a JSON or CSV file to multiple HTML files? Basically, I'm looking for each JSON object to be converted into a single HTML page (so if there are 50 objects then I will have 50 HTML files). Or each row into a single HTML file. I tried different scenarios but no luck.

[2016-03-30 19:16] david-zacharias commented on #83
So you have an array of objects in your JSON data, right? I guess so.

Do you also want to have one *main file* that links to the generated files?

If yes, you can use the [_bake](https://github.com/MathiasPaumgarten/grunt-bake#bake-extra-pages-eg-detail-pages)-attribute for generating extra files from within the `_foreach`-loop in your *main file* for each object.

If not, you need to run bake fo

[2016-03-30 22:48] webnet2 opened #84 "Simple bake test"
I tried to run the [Simple Bake ](https://github.com/MathiasPaumgarten/grunt-bake#simple-bake) but it gives me a bunch of syntax error - http://prntscr.com/am8b2i

[2016-03-31 05:31] david-zacharias commented on #84
Since the the CI Server runs green [![Build Status](https://travis-ci.org/MathiasPaumgarten/grunt-bake.svg?branch=master)](https://travis-ci.org/MathiasPaumgarten/grunt-bake), I think your error is related to your local configuration / custom code. Without further information about your configuration or how your are runing `Simple Bake` no assistance can be provided. I am closing this issue becaus

[2016-03-31 05:31] #84 closed

[2016-03-31 05:33] david-zacharias commented on #83
How does your code look?

[2016-03-31 06:07] webnet2 commented on #83
I only tried to run the Simple bake to be sure it will generate a couple of html pages but it did not seem to work on my node.js - Here is the simple bake [click here](https://github.com/MathiasPaumgarten/grunt-bake#simple-bake)

[2016-03-31 06:14] david-zacharias commented on #83
Without more information about your specific settings I can not provide more help. Simple bake (and all other features) run on my local configuration as well as on travis CI.

[2016-03-31 07:02] webnet2 commented on #83
I have not tried the bake before so that is why I couldn't make the simple one work. I think bake is the solution that I'm looking for so I need your help. I have a CSV file with say 50 rows or objects (json) and I need it to generate it to 50 html pages (per row/object).

[2016-03-31 16:34] webnet2 commented on #83
I tried to run bake_test.js but seemed to be nothing happened - I followed the test. What did I miss?
![bake_test](https://cloud.githubusercontent.com/assets/18010579/14183185/acc4fd48-f723-11e5-8cb5-19506d780705.png)

[2016-03-31 17:54] webnet2 commented on #83
I tried to run bake but it seemed like nothing happened. I need help...
![bake_test](https://cloud.githubusercontent.com/assets/18010579/14185471/d84b395e-f72e-11e5-88f1-d8ba54d4a52a.png)

[2016-03-31 18:56] david-zacharias commented on #83
I get the feeling that you missed to read the basics of Grunt. So please take time to read the [Getting Started guide](http://gruntjs.com/getting-started). I will close your issue for now because it is not a feature request or bug report related to this project. Probably [stackoverflow](http://stackoverflow.com/) the better place to get help. But first, please read the guide.

[2016-03-31 18:56] #83 closed

[2016-03-31 20:45] webnet2 commented on #83
Okay. I got it working now! Thanks! :-)

[2016-03-31 21:04] MathiasPaumgarten commented on #83
Glad you guys could hash it out. As always @david-zacharias thanks for being so on top on responding to user issues.

[2016-03-31 22:12] webnet2 opened #85 "foreach loop to build multiple files per object"
Looking for a way to loop this for each object and have its own generated page. Any suggestion please? I was looking at [grunt.file.expandMapping](grunt.file.expandMapping)
![foreachloop](https://cloud.githubusercontent.com/assets/18010579/14192669/f3c275c4-f753-11e5-85b8-79ef3e4b028b.png)

[2016-04-01 18:24] david-zacharias commented on #85
Hi @webnet2 I am happy that you chose grunt-bake for your project! Neverthelesse, the issues at github exist for reporting and discussing bugs and features, they are not meant for requesting support for individual programming challenges. As written in my comment on [issue 83](https://github.com/MathiasPaumgarten/grunt-bake/issues/83) bake may is not made for what you want to do, but can create ind

[2016-04-01 18:24] #85 closed

[2016-04-04 16:54] david-zacharias opened #86 "Unset variables are rendered as "undefined""
This also happens when `removeUndefined` is set to `true`.

[2016-04-04 16:57] david-zacharias commented on #86
I have quickly added a fix for this issue. @MathiasPaumgarten can you please bump the version when you have the time.

[2016-04-04 17:46] david-zacharias commented on #66
@MathiasPaumgarten And this is fixed as well... was only one missing `if`

[2016-04-04 20:15] MathiasPaumgarten commented on #66
Nice. You back on a fixing spree ... :raised_hands:

[2016-04-04 20:15] #66 closed

[2016-04-04 23:14] MathiasPaumgarten commented on #86
Sure can.

[2016-04-04 23:22] MathiasPaumgarten commented on #86
I have pushed `1.6.4`. I should check if I can give you publish rights on npm for situations like this one.

[2016-04-04 23:22] #86 closed

[2016-04-07 17:34] MathiasPaumgarten commented on #81
Should we close this for now, as `_process` allows you to skip any encoding of any sort?

[2016-04-07 17:40] k-funk commented on #81
_assign and _process met my needs.

[2016-04-07 21:03] k-funk commented on #81
@david-zacharias Just tried implementing my solution which I thought would work. However, when I use `_process="false"`, `{{ code_here }}` is still being processed into an empty string. You can reproduce this by changing `/fixtures/includes/first.html` to `<div>{{code}}</div>` and see that the ``{{code}}`` is gone.

Is this expected behavior for _process?

[2016-04-07 21:59] MathiasPaumgarten commented on #81
It really shouldn't be, right? @david-zacharias do you have time to look into it, or do you want me to?

[2016-04-08 06:03] david-zacharias commented on #81
Oh sorry. @k-funk is right, I have missed that the processing of the placeholders takes place in the `parse` function in [line 617](https://github.com/MathiasPaumgarten/grunt-bake/blob/master/tasks/bake.js#L617) which is out of control of the `replaceString` function where inline attributes are evaluated. I have created a PR that fixes it and also added a test that contains placeholders on first l

[2016-04-08 16:46] MathiasPaumgarten commented on #81
Yeah ... I've been wanting to largely refactor __grunt-bake__ for a while, since it's grown so much since it's original creation. It's outgrown it's state of one file and global vars for a while now. But it's quite the endeavour to rewrite it.  Thanks for fix though!! :+1:

[2016-04-08 16:47] MathiasPaumgarten commented on #81
@k-funk I just release his fix under `1.7.1`. If you give it a shot it should finally take care of your issues.

[2016-04-08 18:26] k-funk commented on #81
Still doesn't work as expected. Only seems to work at a top level bake. Not for recursive bakes. You'll see that the result has no `{{ code }}` in it.

Try running the unit test for `inline_no_process` with this:
https://github.com/k-funk/grunt-bake/tree/inline-no-process-broken-recursive

(the below file/codes are the same as in my repo)
`inline_no_process.html`

	<!DOCTYPE html>
	<html>
		<head>

[2016-04-20 00:32] bosh commented on #81
Bump! We're using many levels of bake to build our static documentation site, and the process directives tend to live in the second-to-deepest of 4-8 levels of nesting of files to bake together, so it needs to work for us recursively.

[2016-04-20 15:37] david-zacharias commented on #81
Sorry for the delay, I have a quite heavy workload at the moment...

With my last commit I have included a test that simulates the disabling of processing in an inlcuded file. The commit also includes a fix which let all tests run green.

@k-funk and @bosh can you please add the current bake master to your projects, give it a try, and report. My commit it is kind of hotfix as I had not the time to

[2016-04-20 20:25] k-funk commented on #81
@david-zacharias . _process is now working with with sub-includes, but _assign on the same line broke when https://github.com/MathiasPaumgarten/grunt-bake/commit/57e53fdda63d8e2d32573e5c58ec66c44f6c6c97 was made. _assign on the same line does work in 1.7.1.

The code i've been trying to get work this whole time is something like (this is a sub-include):

    <pre><code>
    {{ code | escape }}

[2016-04-20 21:28] david-zacharias commented on #81
Well, I have taken a deeper look into the processing and found that placeholders have been evaluated *to early* so they were resolved when the correct replacement was not ready. So the assign worked internally, but the placeholder was aready removed at the point where the script wanted to replace it...

[2016-04-20 23:52] k-funk commented on #81
Looks good. Tested it out with my project and it's now working as expected.
@MathiasPaumgarten version bump to 1.7.2 ?

[2016-04-21 00:19] MathiasPaumgarten commented on #81
I've just release `1.7.2` on NPM. Thanks @david-zacharias and @k-funk for testing.

[2016-04-21 00:19] #81 closed

[2016-04-21 00:19] k-funk commented on #81
👍

[2016-05-25 16:26] hiulit commented on #67
Hi there!

So I have an `index.html` like this:

[code]

with a `json`like this:

[code]

and the `tutorial-base-html` like this:

[code]

and I'm getting this error:

[code]

It seems that it doesn't like placeholders inside `_bake` html 'detail' template:

Does this have something to do with this thread?

Thanks!

[2016-05-25 21:34] david-zacharias commented on #67
Hi @hiulit, happy to see that you are using bake!

I think the error is caused by `` in the `tutotial-base.html`. The default bake include path does not support placeholders, since you *know* which (static) files you want to bake together. The `_bake`-option supports placeholders for generating the names for the files bake should create.

So this behavior is not related resolving placeholders with

[2016-05-26 09:46] hiulit commented on #67
Hi @david-zacharias

Sorry, I'll elaborate my question in more depth.
What I want to accomplish is this:

I have a folder structure resembling to this:

[code]

And this an example `json`:

[code]

Each individual tutorial html (e.g. `quick-start-1.html`) has its own content that I want to bake using the `tutorial-base.html` template.

[code]

Now, I have a `tutorial-base.html` template in another

[2016-05-26 13:41] hiulit commented on #67
I'm back!

I don't know if my gigantic comment was of any use, but I think I fixed the issue (at least for my case :P).

Line 440 of  `bake.json` inside the `processExtraBake` function:

[code]
[code]

I just passed `bake.dest` through `processContent` and it seems to be working, whether you use a 'hardcoded' name or a 'placeholder'.

I don't know if this would be something useful  to anybody or m

[2016-05-26 13:48] david-zacharias commented on #67
Sorry have a lot of work on my desk. Will check your detailed explanation as soon as I find time. Improvements to bake are always welcome. Feel free to create a Pull Request. Please do not forget to run the tests to be sure that your additions do not break existing functionality. Also adding a test for your addition is great, so it won't be removed in future updates.

[2016-06-03 22:54] k-funk opened #89 "Placeholder Default"
I want to use this in my html:

    {{ myVar | default:'This is the default. myVar was falsy.' }}

but the transform never hits because of https://github.com/MathiasPaumgarten/grunt-bake/blob/master/tasks/bake.js#L114

Any ideas on how to get this behavior to work, cleanly?
Right now, to get the same functionality I'm doing rather gross:

    {{myVar}}

    This is the default. myVar was falsy.

[2016-06-06 23:24] k-funk opened #90 "Assign/use variable in same file"
Is it possible to do this?

**file.html**

[code]

**more_details.html**

[code]

[2016-06-07 08:25] david-zacharias commented on #90
Currently not because each bake tag "must" include a file. There is no bake tag dedicated just to assign variables / placeholders. So it would be a major change (from point of concept) to allow this.

[2016-06-13 23:26] MathiasPaumgarten commented on #89
Hi @k-funk,
sorry for the delay, I've been away from the computer over the last week. This is a pretty known scenario and could actually be used in conjunction with transforms pretty nicely, much like you said. But the implementation won't allow it.

I wonder if we can find a way without ruining the the current intended behavior. I think in the transforms chain, we could allow them on falsy values

[2016-06-14 08:05] david-zacharias commented on #89
I am not sure I think we may get trouble with the feature that leaves code in place (`removeUndefined` set to `false`). To make that work each transform must check if undefined is given and return it untouched. We should avoid the need for people to change existing transforms... Unfortunately I have not much time at the moment for testing this.

[2016-06-14 18:02] k-funk commented on #89
Maybe now's a good time to start thinking about labeling feature-requests for `2.0.0`

[2016-09-02 15:56] nabto opened #92 "Builtin placeholders"
Have worked with other "template" engines like bake before.

Something that is nice is to have in templating languages is builtin placeholders.

What is currently needed in a project is the current_filename - we can do this manually in the top of each file ... but it's tedious.. and good programmers are born lazy.. (my personal belief is that most programmers start their career because it would be

[2016-09-13 18:15] MathiasPaumgarten commented on #92
Hi there. That is pretty good input. I like that. I have to admit it's been a while that I have worked on __grunt-bake__. Because, as you said, we're all lazy 😄
I think this wouldn't even require too much of a change. Let me look into it.

[2016-09-15 00:26] MathiasPaumgarten commented on #92
Closing this in lieu of #93

[2016-09-15 00:26] #92 closed

[2016-10-01 02:37] tnqsoft opened #94 "How to convert a folder with bake ?"
Hi !

At the moment, I define file by file in bake config. But I wanna define only folder which container all my HTML. And bake auto scan all files in this folder. Example:
[code]

How to do that???. Sorry with my English!.

[2016-10-01 12:10] david-zacharias commented on #94
Hi, happy to see you are using grunt-bake!

You can use bake for multiple files by making use of [grunts globbing patterns](http://gruntjs.com/configuring-tasks#globbing-patterns). It's the same like for other grunt-plugins.

**Example**
[code]

Since this is no bug or enhancement for bake, I am going to close this issue.

[2016-10-01 12:10] #94 closed

[2016-10-01 14:25] tnqsoft commented on #94
Very helpful for me. Thank you very much!.

[2016-10-03 04:47] tnqsoft opened #95 "Generate Bake with grunt.config.get"
Hi !

How can generate bake with "grunt.config.get"?. Example:
includes/header.html
[code]

pages/home.html
[code]

But when page generate by Bake, I saw in file content "home.html" contain <%= grunt.config.get('pkg.description') %>...I wanna Bake call grunt.config.get for get parameter value. I find solution in internet, and I found solution:

[code]

I resolve problem with grunt.config.get, but

[2016-10-03 08:57] david-zacharias commented on #95
Hi again,

generally I suggest not to overwrite the `process`-function, because you loose bake-functionality. But you can mix the configuration into your content object; [options.content](https://github.com/MathiasPaumgarten/grunt-bake#optionscontent) can also be a callback, so you can do something like:

[code]

In the template you can access the variables like other content:

[code]

[2016-10-03 08:57] #95 closed

[2016-10-03 09:14] tnqsoft commented on #95
Amazing and Perfect!! I really like you!. Save my time.

I update Gruntfile.js for Bake.

[code]

Thank you so much!!!!!.

[2016-10-07 13:13] jroland01 opened #96 "Bake one HTML file / JSON section in one go"
Hi -

I have a JSON file (e.g. content.json) with several sections (e.g. section1, section2, etc.) and I am trying to bake 1 HTML file per section in this JSON file. Is there a way to go through all sections in the JSON file in one go and bake the HTML files accordingly ?

Currently I am doing this “manually” in Gruntfile.js for each section (e.g. for section2) in the JSON file :

[code]

Is this

[2016-10-07 14:12] david-zacharias commented on #96
Hey!

Have you taken a look the [bake extra pages](https://github.com/MathiasPaumgarten/grunt-bake#bake-extra-pages-eg-detail-pages) section? I think that should work for your use case.

Please let me know if you could apply this to your project.

[2016-10-08 07:36] jroland01 commented on #96
Hi - Thanks a lot for your reply.

I could potentially apply that. The thing is, the JSON I am using is structured according to "sections", and not as an array. My understanding is that the _foreach statement in bake extra pages goes through items in an array, not through "sections". So I would require the same feature as in bake extra pages, but with the ability to go through "sections" instead o

[2016-10-08 10:20] david-zacharias commented on #96
If the data you have is not matching the requirements `grunt-bake` has, you can transform the data by using a function for `options.content`:

[code]

You could also do some sorting and mixin the keys (`filename1`, `filename2`, ...) as a property so they become available in the templates:

[code]

[2016-10-08 15:49] jroland01 commented on #96
Thanks a lot ! I will look into your suggestions. Alternatively I will input my data directly in the required format for `grunt-bake` / bake extra pages.

[2016-10-10 07:03] david-zacharias commented on #96
Hope you found a suitable solution. I will close this issue, since it is not a feature or bug. But I will create one feature issue for supporting iteration over objects in `_foreach`

[2016-10-10 07:03] #96 closed

[2016-10-10 07:13] david-zacharias opened #97 "Iteration over objects in _foreach"
Bake should may support iteration over objects in `_foreach`. In this case the key should also be supplied in the template.

### Example (WIP)

_Configuration_
[code]

_Template_
[code]

_Output_
[code]

[2016-10-10 18:46] jroland01 commented on #97
This feature would be very useful. Thanks.

[2016-10-10 21:16] MathiasPaumgarten commented on #97
I think this is great. Should we maybe find a syntax that specifies both `key` and `value`? Not a must, just thinking out loud:

[code]

Since this could still work with arrays since the key of every array field is simply a number. (I don't want to offend any real computer scientists here but my point is that in JS it sure seems/feels that way 😄 )

What do you guys think?

Either way, we should de

[2016-10-11 09:09] david-zacharias commented on #97
Would be nice to have a inline syntax. Are the _many_ colon separated parts confusing? We could also think about introducing alternative foreach syntax in __2.0__ like (of course with support for __1.x__ colon-syntax).

[code]

Not sure.

[2016-10-17 18:49] MathiasPaumgarten commented on #97
Yeah I agree. I feel like the whole colon thing is something I started when there was pretty much no command and now it's totally out of proportion.
(I'm pretty sure this is how Brandon Eich feels about JavaScript every day)

[2016-10-17 18:50] MathiasPaumgarten commented on #97
I'm probably gonna spend some time on this today, as well as #93

[2016-10-18 17:23] MathiasPaumgarten commented on #97
Closing this because I started a PR #98 and we should discuss it there.

[2016-10-18 17:23] #97 closed

[2016-10-20 18:08] MathiasPaumgarten commented on #89
I've been thinking about this. I would still love to have a way to supply a default value for variables. One thing that came to mind was the way a lot of people do it in JS: `var foo = bar || 14`, which would give you `14` in any scenario where `bar` is falsey, which thanks to the genius of JS is a crazy gray area. 😞

[code]

This wouldn't even break the transforms chain:

[code]

What are we thin

[2016-10-21 09:31] david-zacharias commented on #89
Hi all!

Unfortunately I have not much time at the moment, so just brief feedback:

I would go for @k-funk idea of a `default`-transform. I think we will find a way to make that work in version 2. This is less confusing I think.

[2017-01-08 04:42] AdrianoCahete opened #99 "Can I read from package.json?"
I have some configs that i want to read from package.

F.E:
[code]

I need to print repository.url in some part of page and author in another. It's possible?

[2017-01-08 05:27] AdrianoCahete commented on #99
Find in #95:

[code]

Then `{{pkg.author}}` in templates.

[2017-01-08 05:27] #99 closed

[2017-01-09 16:06] AdrianoCahete commented on #45
@MathiasPaumgarten I need to read package.json and another json file to the same template. It's possible?

Now, if i put the two entries, just the last work.

[code]

`githubapi.json` is a json response to `https://api.github.com/users/AdrianoCahete`

[2017-01-09 16:49] david-zacharias commented on #45
Hi @AdrianoCahete, you need to combine the data within the `content`-function. Otherwise the both tasks will create baked files, where the later one overwrites the first one.

Basically you have to do:
[code]

A nicer version:
[code]

You can than access the variables in your template like `{{pkg.version}}`.

[2017-01-09 22:51] MathiasPaumgarten commented on #99
Ha, glad you found it. Sorry for the delay!

[2017-01-10 15:20] AdrianoCahete commented on #45
Hi @david-zacharias ! Thanks for explanation... But i try this and don't work.

You can see my [gruntfile here](https://github.com/AdrianoCahete/Portfolio/blob/static-grunt/GruntFile.js).
This is a small project, you can get it and test too. The title needs to be in page title, links needs to be working (they are from package.json) and profile image needs to be working (it's from githubapi,json).

[2017-01-10 15:22] david-zacharias commented on #45
On a first quick glance I would say, your bake-task is missing a `files`-property, see [Bake overview](https://github.com/MathiasPaumgarten/grunt-bake#overview)

[2017-01-10 15:43] AdrianoCahete commented on #45
Oh, it's true!
Probably i removed on copy/paste... So embarrassing.

Now works, thanks a lot! :)

[2017-11-21 09:42] adamjw3 opened #100 "Version for gulp"
Not an issue but have used bake for ages and love it. new job uses gulp so looking for a version i can use with that. do you have one?

[2017-11-21 22:25] MathiasPaumgarten commented on #100
I've thought about porting it a while ago. I never really got around to do it sadly. I don't think it would be way too much work, but essentially all file readings would have to be converted to streams.

Personally, I don't even use **grunt-bake** much anymore. I mostly use [pug](https://github.com/pugjs/pug) these days.

I don't think I can promise that a port will happen anytime soon (or ever) u

[2017-11-29 10:25] hiulit opened #101 "When in '_section', use properties outside this '_section'"
I have an `/index.html`

[code]

and a `/pages/example/index.html`

[code]
The `header.html`

[code]

And the `metas.html`

[code]

And finally, this `final.json`

[code]

What I would like to do is something like `{{../../metas.author}}` to get the author property from `metas.author`.
Is it posible? To get a property outside the current `_section`?

[2017-12-03 17:57] paintedbicycle opened #102 "Evaluate content inside of _section"
Current it does not seem like inside of a _section method, anything gets evaluated. For instance, this does not work:
[code]
Also, if I try to create a transform, it does not fire:
[code]

Is there any way to do this? I want to pass a variable from a grandparent template, to a parent template, that renders a section in the child template. But I don't seem to be able to pass a variable from the gra

[2017-12-04 20:29] MathiasPaumgarten commented on #101
Currently it isn't 😞

The problem here is that in the implementation the fragment doesn't actually get the full object. So as far as the the fragment is concerned, there is no way to reach the "parent" element.

I also have to admit that I'm currently no very actively improving on grunt-bake.

But needless to say, I always appreciate valuable contributions.

[2017-12-04 20:37] MathiasPaumgarten commented on #101
Alright, so I might be wrong about this actually because I haven't used it myself this way. (Ha, that's a weird thing to say about ones own code)

In addition to setting a section, you could also pass an additional parameter that is just called `globalMeta="metas"` and that would pass the global meta section.

[2017-12-05 10:46] hiulit commented on #101
Well, it's a pity that you're not maintaining grunt-bake, because I've used it, and I'm using it, in a lot of projects. I really like it! 😄  So, first of all, a big thank you for all you've already done! 🎉

Now, I've tried your solution and it doesn't seem to work properly.

I have this:
[code]

In the `header.html` I added a couple of tests:

[code]

From here, I don't know what else to do.
Could

[2017-12-20 20:21] MathiasPaumgarten commented on #101
I'm so sorry for the crazy delay.
I must not be evaluating variable like this. Honestly I forgot how I evaluate regular inline variables. And I do know that I worked with some others on this as well.

I can't give you a straight forward answer, if you're willing to look into this it would start somewhere around there: [Line 467](https://github.com/MathiasPaumgarten/grunt-bake/blob/master/tasks/bak

[2017-12-22 10:15] hiulit commented on #101
Don't worry about the delay :)

Good news! I think I managed to make this issue work.

[Line 495](https://github.com/MathiasPaumgarten/grunt-bake/blob/master/tasks/bake.js#L495)

[code]

[code]
Basically what I did here is:

- Check if `value` has `{` and `}`.
- If so, remove them to get a clean `value`.
- Use the resulting `value` to get an `Object`.
- Return the `value` as an `Object`.

I know t

[2017-12-27 04:34] MathiasPaumgarten commented on #101
You know, that is actually already pretty nice of a solution. I think I can clean it up and use the `parsePattern` or at least a somewhat cleaner regex, but you kind of did the heavy lifting on this already.

I'll try to get this in as soon as I can.

[2017-12-27 12:37] hiulit commented on #101
Awesome! 👍
Again, if you guide me, I can happily try to clean it up and create a pull request.
Anyhow, what I did it's kinda working, so I can wait for you, no pressure at all!
Glad I could help :)

[2018-01-03 03:07] MathiasPaumgarten commented on #101
Alright. So I played around a little bit and I found a little bit of a problem with the cleanest possible solution. The thing is: Inline values are already being parsed, but if you put in an object, like I suggested, it will actually convert it to a string. this is why `globalMetas` in
[code]

[2018-01-03 03:19] #102 closed

[2018-01-03 03:20] MathiasPaumgarten commented on #101
I wrote simple fix for this [here](https://github.com/MathiasPaumgarten/grunt-bake/blob/feature-inline-values-objects/tasks/bake.js#L480)

Still have to clean it up and document it. But I'm pretty sure I can push this soon. Would not be a breaking change in any way.

[2018-01-03 03:35] MathiasPaumgarten commented on #101
I've implemented it over here #103

Closing this.

[2018-01-03 03:35] #101 closed

[2018-01-11 11:32] hiulit commented on #101
Hey, sorry for the super late reply...

It works perfectly! Thank you! 👍

[2019-03-07 00:10] #90 closed

[2019-03-07 00:11] #100 closed